@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased text-gray-800 bg-white;
    font-family: 'Manrope', sans-serif !important;
  }
}
